<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Sighter Travel</title>

  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIEXSrNBk8CGcnjtj6mg-timqRfwe1E_A&callback=initMap"></script> -->

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600|Roboto+Slab:100,300,400" rel="stylesheet">

  <link rel="icon" type="image/png" sizes="32x32"
    href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/Stravelx192.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="<%= htmlWebpackPlugin.files.publicPath %>/static/img/icons/Stravelx512.png">
  <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <!-- <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json"> -->
  <meta name="theme-color" content="#0284a8">

  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Sighter travel">
  <!-- <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/sighter-icon.png"> -->
  <!-- <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" -->
  <!-- color="#0284a8"> -->
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage"
    content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/sighter-icon.png">
  <meta name="msapplication-TileColor" content="#0284a8">

</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>
<script>
  // Check that service workers are registered
  if ('serviceWorker' in navigator) {
    // Use the window load event to keep the page load performant
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('./sw.js');
    });
  }
</script>

</html>