
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h2>Api is running</h2>
<ul>
    <li>To test return data from methods add them as link in Views-> Home-> Index.cshtml</li>
    <li>To test return data from methods trough vue.js frontend copy IIS Expres port number ex. localhost:8080/ and edit apiUrl in client/src/store/services.js</li>
</ul>

